DB_HOST="postgresdb"
DB_PORT=5433
DB_USER="sarpbc"
DB_PASSWORD="password"
DB_NAME="sarpbc"

JWT_KEY="my-super-secret-key"

REDIS_HOST="redis"
REDIS_PASSWORD=

FRONT_URL=http://localhost:4000

PANDASCORE_API_TOKEN=""
PANDASCORE_SYNC_ON_BOOT=false

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:4001/auth/google/callback"

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""
CLOUDFLARE_ACCOUNT_HASH=""